*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
section{
    margin-bottom: 100px;
}
:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font: 'Dancing Script', cursive;
}
i{
    color: #d8a64d;
}
.best-deals .row{
    border: 2px solid #e6af52;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(207, 139, 139, 0.164);
}

.btn-primary{
    background-color: #e6af52;
    border: none;
}
.btn-primary:hover{
    background-color: #D8A64D;
}
.top-header{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #8079792a;
    color: #807979;
}
nav{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.navbar-nav  li a{
    color: #4b4848;
    font-weight: bold;
    margin-left: 45px;
}
.navbar-nav  li a:hover{
    color: #D8A64D;
}
.navbar-brand img{
    width: 75px ;
}
/* .header-banner{
    background: red;
    background-image: 
    linear-gradient(#ffffffb6, #ffffffcc),url(../img/uk.jpg);
    height: 80vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
/*  carousel */
.carousel-inner .carousel-caption{
    margin-bottom: 180px; 
    background-color: #b4afaf8c;
    padding: 100px;
    border-radius: 5px;
}
.carousel-container {
    height: 100%; /* adjust the height to your desired value */
    width: 78%; /* adjust the width to your desired value */
  }
  
.carousel-inner .carousel-item img{
    background-color: linear-gradient(#721e1efa, #eb0909) !important;
}
.dancing-font{
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: -2px;
    color: #d8a64d;
}
/* .banner-text{
    padding: 45px;
    margin-top: 50px;
} */

.btn:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    transition: .05s ease-out;
    transform: scale(1.02);
}
.card{
    transition: .05s ease-out;
}
.card:hover{
    box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.1);
    transition: .05s ease-out;
}
.feature-trips .card:hover{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.534);
}
/* cards slider */
.packege-card{
    padding: 10px;
}
.packege-card i{
    color: #726d6d;
    font-size: 55px;
    padding: 15px;
}
.slider .card{
    margin: 10px;
}
.slick-arrow:before {
    color: #726D6D !important;
  }
  .slick-arrow:before {
    color: #726D6D !important;
  }

  /* footer section */
  .footer-section{
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #d8a64d;
  }
  ul li{
    text-align: left;
  }
  .social-icons i{
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
  }
 .footer-icons li{
    margin-bottom: 15px;
 }
 .useful-links li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
 }
  /* contact page */

  .form-section{
    margin: 30px auto;
    padding: 25px;
    max-width: 700px;
    background-image: url('img/formbg.jpg');
}
label{
    font-weight: 600;
}
input::placeholder{
    color: #807979a9 !important;
}
.contact-form{
    border: 2px solid #d8a64d;
}
.contact-header{
    font-weight: bold;
    text-align: center;
}

/* address design */
address{
    align-items: left !important;
}

/* about us page */
.about-us-des{
    padding: 25px;
    margin-bottom: 55px;
}