*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
section{
    margin-bottom: 100px;
    margin:0px 70px 100px 70px;
}
footer{
    padding: 0px 60px 0px 60px;
}
:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font: 'Dancing Script', cursive;
}
i{
    color: #d8a64d;
}
.best-deals .row{
    border: 2px solid #e6af52;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(207, 139, 139, 0.164);
}

.btn-primary{
    background-color: #e6af52;
    border: none;
}
.btn-primary:hover{
    background-color: #D8A64D;
}
.top-header{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #8079792a;
    color: #807979;
}
nav{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding: 0px 50px 0px 50px !important;
}
.disabled{
    border: 2px solid #d8a64d;
    border-radius: 10px;
    text-align: center;
}
.navbar-nav  li a{
    color: #4b4848;
    font-weight: bold;
    margin-left: 45px;
}
.navbar-nav  li a:hover{
    color: #D8A64D;
}
.navbar-brand img{
    width: 75px ;
}
/* .header-banner{
    background: red;
    background-image: 
    linear-gradient(#ffffffb6, #ffffffcc),url(../img/uk.jpg);
    height: 80vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
/*  carousel */
.carousel-inner .carousel-caption{
    margin-bottom: 100px; 
    background-color: #b4afaf8c;
    /* padding: 100px; */
    border-radius: 5px;
}
.carousel-container {
    max-width: 78%; /* adjust the width to your desired value */
  }
  
.carousel-inner .carousel-item img{
    background-color: linear-gradient(#721e1efa, #eb0909) !important;
}
.dancing-font-banner{
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: -2px;
    color: #f3f3f3;
}
.dancing-font{
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: -2px;
    color: #d8a64d;
}


.btn:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    transition: .05s ease-out;
    transform: scale(1.02);
}
.card{
    transition: .05s ease-out;
}
.card:hover{
    box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.1);
    transition: .05s ease-out;
}
.feature-trips .card:hover{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.534);
}
.feature-text,.packeges-text{
    width: 50%;
}
/* cards slider */
.packege-card{
    padding: 10px;
}
.packege-card i{
    color: #726d6d;
    font-size: 55px;
    padding: 15px;
}
.slider .card{
    margin: 10px;
}
.slick-arrow:before {
    color: #726D6D !important;
  }
  .slick-arrow:before {
    color: #726D6D !important;
  }

  /* footer section */
  .footer-section{
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #d8a64d;
  }
  ul li{
    text-align: left;
  }
  .social-icons i{
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
  }
  .social-icons i:hover{
    color: #2c6532ce;
  }
 .footer-icons li{
    margin-bottom: 15px;
 }
 .useful-links li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
 }
 .useful-links li a:hover{
    color: #2c6532cc;
 }
  /* contact page */

.form-section{
    margin: 30px auto;
    padding: 25px;
    max-width: 700px;

}
#contact-map{
    max-width: 800px !important;
}

label{
    font-weight: 600;
}
input::placeholder{
    color: #807979a9 !important;
}
.contact-form{
    border: 2px solid #d8a64d;
}
.contact-header{
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 55vh;
    border: none;
  }
  .map-container {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

/* address design */
address{
    align-items: left !important;
}
.address-block{
    margin-bottom: 187px;
}
/* about us page */
.about-us{
    width: 85% !important;
}
.about-us-des{
    padding: 25px;
    margin-bottom: 55px;
    text-align: justify;
}

.about-us img{
    max-width: 750px;
}

.accordion{
    margin-top: 25px;
    margin-bottom: 175px;
}

/* faq section */
.accordion-button{
    font-weight: bold;
}
.accordion-button:focus {
    z-index: 3;
    background-color: #fff;
    outline: 0!important;
    color: black;
    box-shadow: none;
    border-bottom: 2px solid #d8a64d;
 }
 .accordion-button:not(.collapsed){
    background-color: #d8a64d;
    color: #fff;
    
 }

 /* contact page animation */
 @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
 @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
 @keyframes Opacity {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
  }

  .block-1,.about-text,.accordion-faq{
    animation: 0.8s ease-out 0s 1 slideInLeft;
  }
  .block-4,.about-img,.faq-img{
    animation: 0.8s ease-out 0s 1 slideInRight;
  }
/* blog page*/
.blog .card-text{
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#blog-img img{
    border-radius: 10px !important;
}